*{     
    padding: 0;
    margin: 0;
  }
  
  /* html,body {
    height: 100%;
  } */
  .header{
    display: block;
    height: 80px;
    width: 100%;
    background-color: black;
  }

  .body-parent{
    display: block;
    width: 70%;
    margin: 0 auto;
  }
  
  .inner-header{
    width: 1200px;
    height: 100%;
    display: block;
    margin: 0 auto;
  }
  
  body {
    background-color: lightgray;
      font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  } 
  
  .logo{
    height: 100%;
    display: table;
    float: left;
  }
  
  .logo h1{
    color: darkorange;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Indie Flower', cursive;
    font-size: 32px;
    font-weight: 200;
  }
  
  .logo h1 span{
    font-size: 40px;
    font-weight: 800;
  }
  
  .navigation{
    float: right;
    height: 100%;
  }
  
  .navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
    text-decoration: none;
  }
  
  .navigation a li:hover{
    color: white;
  }
  
  .navigation a:last-child{
    margin-top: 28px;
    color: darkorange;
    font-family: 'Indie Flower', cursive;
    font-size: 16px;
    padding-right: 0;
  }

  .navigation a:last-child li {
    display: table-cell;
    vertical-align: 0;
  }

  .navigation a:last-child:hover {
    color: white;
    cursor: pointer;
  }

  .accountLink{
    margin-top: 28px;
    color: darkorange;
    font-family: 'Indie Flower', cursive;
    font-size: 16px;
    padding-right: 0;
  }

  .accountLink li {
    display: table-cell;
    vertical-align: 0;
  }

  .accountLink:hover {
    color: white;
    cursor: pointer;
  }
  
  .navigation a li{
    display: table-cell;
    vertical-align: middle;
    color: darkorange;
    font-family: 'Indie Flower', cursive;
    font-size: 16px;
  }

.thread-item-title {
  display: inline-block;
  background-color:darkorange;
  border: none;
  font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

.thread-list-body{
  display: block;
  width: 70%;
  margin: 0 auto;
}

.thread-item{
  list-style-type: none;
  background-color: darkorange;
  padding: 10px;
  border: 2px ridge black;
  font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
}

.no-item{
    list-style-type: none;
    background-color: darkorange;
    padding: 10px;
    border: 2px ridge black;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    font-size: 20px;
  }

.personal-threads{
    display: table;
    height: 30px;
    width: 70%;
    margin: 0 auto;
    background-color: darkorange;
    border: 2px ridge black;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
.personal-threads h1 {
    display: table-cell;
    vertical-align: middle;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    font-weight: 200;
  }